# backup files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
build/
_build/

# Mac files
.DS_Store

# Data directories
data*/

# python virtual environment
.venv/
venv/

# python compiled files
*.pyc

# python cach
*.egg-info/
*_cache/
*_cache/

# figure files
figs/

# CMake files
CMakeFiles/
CMakeCache.txt

# python version file
pymiso/_version.py

# vs code settings
.vscode/

# DevContainer settings
.devcontainer/

# test temporal files
tests/Testing

# Sphinx documentation build
docs/build/
docs/source/api/
make.bat

# doxygen files
docs/doxygen/cpu
docs/doxygen/gpu
